<div ng-show="ready">
    <label>SELECT HOME PAGE</label>
    <table>
      <tr>
        <td ng-repeat="homePage in homePages">
          <img class="card-thumbnail"
            ng-src="https:{{homePage.preview.small}}"
            ng-click="selections.selectedHomePage = homePage"
          >
        </td>
      </tr>
    </table>
    
    <label>SELECT CONVERSATION PAGE</label>
    <table>
      <tr>
        <td ng-repeat="coversationPage in continueConversationPages">
          <img class="card-thumbnail"
            ng-src="https:{{coversationPage.preview.small}}"
            ng-click="selections.selectedCoversationPage = coversationPage"
          >
        </td>
      </tr>
    </table>

    <label>SELECT DEVICE</label>
    <table>
      <tr>
        <td ng-repeat="phone in phones">
          <img class="card-thumbnail" 
            ng-src="https:{{phone.preview.small}}"
            ng-click="selections.selectedPhone = phone"
            ng-mouseover="phoneTooltip=true"
            ng-mouseleave="phoneTooltip=false"
          >
          <div ng-show="phoneTooltip">{{phone.name}}</div>
        </td>
      </tr>
    </table>
    
    <label>SELECT PLAN</label>
    <table>
      <tr>
        <td ng-repeat="plan in plans">
          <img class="card-thumbnail"
            ng-src="https:{{plan.preview.small}}"
            ng-click="selections.selectedPlan = plan"
          >
        </td>
      </tr>
    </table>
    
    <label>SELECT ACCESSORY PACKAGE</label>
    <table>
      <tr>
        <td ng-repeat="accessory in accessories">
          <img class="card-thumbnail"
            ng-src="https:{{accessory.preview.small}}"
            ng-click="selections.selectedAccessory = accessory"
            ng-mouseover="accessoryTooltip=true"
            ng-mouseleave="accessoryTooltip=false"
          >
          <div ng-show="accessoryTooltip">{{accessory.name}}</div>
        </td>
      </tr>
    </table>
    
    <label>SELECT CONTACT PAGE</label>
    <table>
      <tr>
        <td ng-repeat="contactPage in contactPages">
          <img class="card-thumbnail"
            ng-src="https:{{contactPage.preview.small}}"
            ng-click="selections.selectedContactPage = contactPage"
          >
        </td>
      </tr>
    </table>

    <label>WRAP PREVIEW</label>
    <table>
      <tr>
        <td>
          <img class="card-thumbnail" ng-src="https:{{selections.selectedHomePage.preview.small}}">
        </td>
        <td>
          <img class="card-thumbnail" ng-src="https:{{selections.selectedCoversationPage.preview.small}}">
        </td>
        <td>
          <img class="card-thumbnail" ng-src="https:{{selections.selectedPhone.preview.small}}">
        </td>  
        <td>
          <img class="card-thumbnail" ng-src="https:{{selections.selectedPlan.preview.small}}">
        </td>  
        <td>
          <img class="card-thumbnail" ng-src="https:{{selections.selectedAccessory.preview.small}}">
        </td>  
        <td>
          <img class="card-thumbnail" ng-src="https:{{selections.selectedContactPage.preview.small}}">
        </td>  
      </tr>
    </table>
  (
  <input class="areaCode" ng-model="areaCode" placeholder="xxx">
  ) 
  <input class="prefix" ng-model="prefix" placeholder="xxx">
  -
  <input class="lineNumber" ng-model="lineNumber" placeholder="xxxx">
  <button ng-click='createWrap()'>Create</button>

  <div ng-show="wrapCreated">
    <h2>
      {{newWrapMessage}}
      <a target="_blank" href="{{newPersonalizedWrap}}">here</a>
    </h2>
  </div>

</div>