<div ng-show="ready">
  <form name="homePage">
    <label for="homePage"> SELECT HOME PAGE: </label>
    <select ng-model="selectedHomePage">
      <option ng-repeat="homePage in homePages" value={{homePage}}>{{homePage.name}}</option>
    </select>
  </form>

  <form name="coversationPage">
    <label for="coversationPage"> SELECT CONVERSATION PAGE: </label>
    <select ng-model="selectedCoversationPage">
      <option ng-repeat="coversationPage in keepConversationGoingPages" value={{coversationPage}}>{{coversationPage.name}}</option>
    </select>
  </form>

  <form name="phone">
    <label for="phone"> SELECT PHONE: </label>
    <select ng-model="selectedPhone">
      <option ng-repeat="phone in phones" value={{phone}}>{{phone.name}}</option>
    </select>
  </form>

  <form name="plan">
    <label for="plan"> SELECT PLAN: </label>
    <select ng-model="selectedPlan">
      <option ng-repeat="plan in plans" value={{plan}}>{{plan.name}}</option>
    </select>
  </form>
  
  <form name="accessory">
    <label for="accessory"> SELECT ACCESSORY PACKAGE: </label>
    <select ng-model="selectedAccessory">
      <option ng-repeat="accessory in accessories" value={{accessory}}>{{accessory.name}}</option>
    </select>
  </form>

  <form name="contactPage">
    <label for="contactPage"> SELECT CONTACT PAGE: </label>
    <select ng-model="selectedContactPage">
      <option ng-repeat="contactPage in contactPages" value={{contactPage}}>{{contactPage.name}}</option>
    </select>
  </form>

  <button ng-click='createWrap()'>Create</button>

  <div ng-show="wrapCreated">
    <h1>New Wrap Created!!</h1>
    <a target="_blank" href="{{newPersonalizedWrap}}">Check it out here</a>
  </div>

</div>