.card-thumbnail {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  width: 90px;
  height: 115px;
}

.areaCode {
  width: 30px;
  text-align: center;
}

.prefix {
  width: 30px;
  text-align: center;
}

.lineNumber {
  width: 40px;
  text-align: center;
}
